# Data Gathering
Gather the information for the flights and flights_test tables

In [1]:
import psycopg2

In [2]:
import pandas as pd

In [479]:
con = psycopg2.connect(database="mid_term_project", user="lhl_student", password="lhl_student", host="mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com", port="5432")
print("Database opened successfully")

Database opened successfully

In [ ]:
cur.execute("SELECT fl_date FROM flights")

***Collect the flights table***
- Extract by carrier and export to csv

In [4]:
df_dl = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'DL' """, con
                    )

In [7]:
df_dl.to_csv("carrier_dl.csv", index = False)

In [24]:
df.mkt_unique_carrier.unique()

array(['DL', 'UA', 'WN', 'G4', 'AA', 'NK', 'HA', 'F9', 'AS', 'B6', 'VX'],
      dtype=object)

In [8]:
df_WN = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'WN' """, con
                    )

In [10]:
df_WN.to_csv("carrier_WN.csv", index=False)

In [11]:
df_UA = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'UA' """, con
                    )

In [14]:
df_UA.to_csv("carrier_UA.csv", index=False)

In [15]:
df_G4 = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'G4' """, con
                    )

In [17]:
df_G4.to_csv("carrier_G4.csv", index = False)

In [18]:
df_AA = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'AA' """, con
                    )

In [20]:
df_AA.to_csv("carrier_AA.csv", index = False)

In [21]:
df_NK = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'NK' """, con
                    )

In [22]:
df_NK.to_csv("carrier_NK.csv", index = False)

In [23]:
df_HA = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'HA' """, con
                    )

In [24]:
df_HA.to_csv("carrier_HA.csv" , index = False)

In [25]:
df_F9 = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'F9' """, con
                    )

In [26]:
df_F9.to_csv("carrier_F9.csv", index = False)

In [27]:
df_AS = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'AS' """, con
                    )

In [28]:
df_AS.to_csv("carrier_AS.csv", index = False)

In [29]:
df_B6 = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'B6' """, con
                    )

In [30]:
df_B6.to_csv("carrier_B6.csv", index = False)

In [31]:
df_VX = pd.read_sql("""SELECT *
                        FROM flights
                        WHERE mkt_unique_carrier = 'VX' """, con
                    )

In [33]:
df_VX.to_csv("carrier_VX.csv", index=False)

In [34]:
df = pd.read_sql("""SELECT mkt_unique_carrier
                        FROM flights""", con
                    )

In [36]:
df = pd.read_sql("""SELECT mkt_unique_carrier, COUNT(fl_date)
                        FROM flights_test 
                        GROUP BY mkt_unique_carrier""", con
                    )

In [37]:
df

  mkt_unique_carrier   count
0                 AA  172420
1                 AS   36197
2                 B6   24709
3                 DL  143649
4                 F9   12467
5                 G4    7774
6                 HA    7787
7                 NK   17477
8                 UA  128306
9                 WN  109770

***Collect the flights table***
- Extract by carrier and export to csv

In [39]:
df_test_AA = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'AA'""",con)

In [42]:
df_test_AA.to_csv("AA_test.csv", index=False)

In [43]:
df_test_AS = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'AS'""",con)

In [44]:
df_test_AS.to_csv("AS_test.csv", index=False)

In [45]:
df_test_B6 = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'B6'""",con)

In [482]:
df_test_B6.to_csv("B6_test.csv", index=False)

In [47]:
df_test_DL = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'DL'""",con)

In [483]:
df_test_DL.to_csv("DL_test.csv", index=False)

In [49]:
df_test_F9 = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'F9'""",con)

In [50]:
df_test_F9.to_csv("F9_test.csv", index=False)

In [51]:
df_test_G4 = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'G4'""",con)

In [52]:
df_test_G4.to_csv("G4_test.csv", index=False)

In [53]:
df_test_HA = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'HA'""",con)

In [54]:
df_test_HA.to_csv("HA_test.csv", index=False)

In [55]:
df_test_NK = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'NK'""",con)

In [56]:
df_test_NK.to_csv("NK_test.csv", index=False)

In [57]:
df_test_UA = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'UA'""",con)

In [58]:
df_test_UA.to_csv("UA_test.csv", index=False)

In [59]:
df_test_WN = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'WN'""",con)

In [60]:
df_test_WN.to_csv("WN_test.csv", index=False)

In [480]:
df_test_VX = pd.read_sql("""SELECT *
                            FROM flights_test
                            WHERE mkt_unique_carrier = 'VX'""",con)

***Complete Preliminary Data Exploration***
- work with a single carrier
- explore null values

In [61]:
df_WN.shape

(2713963, 42)

In [74]:
df_WN.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [449]:
temp = df_VX[df_VX.weather_delay.isnull()==True]

In [450]:
tmep = temp[["dep_delay", "arr_delay", "cancelled","carrier_delay", "weather_delay", "nas_delay", "security_delay", "late_aircraft_delay"]]

In [451]:
t_can = tmep[tmep.cancelled == 1]
t_not = tmep[tmep.cancelled == 0]

In [452]:
t_not_out = t_not.sort_values(by = "dep_delay", ascending = False)

In [453]:
t_not_out.head(15)

,dep_delay,arr_delay,cancelled,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
14947,101.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
14870,59.0,14.0,0.0,NaN,NaN,NaN,NaN,NaN
8721,58.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN
8566,55.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN
10528,54.0,14.0,0.0,NaN,NaN,NaN,NaN,NaN
17185,54.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN
9503,53.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10345,53.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN
15156,53.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN
10360,51.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
8142,50.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4637,50.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN
10913,50.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN
12664,49.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
7336,48.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [454]:
print("Max Not Cancelled dep_delay: ", t_not.dep_delay.max())
print("Max Not Cancelled arr_delay: ", t_not.arr_delay.max())
print("Max Cancelled dep_delay: ", t_can.dep_delay.max())
print("Max Cancelled arr_delay: ", t_can.arr_delay.max())

Max Not Cancelled dep_delay:  101.0
Max Not Cancelled arr_delay:  14.0
Max Cancelled dep_delay:  180.0
Max Cancelled arr_delay:  nan

In [434]:
temp = df_B6[df_B6.weather_delay.isnull()==False]

In [435]:
tmep = temp[["dep_delay", "arr_delay", "cancelled","carrier_delay", "weather_delay", "nas_delay", "security_delay", "late_aircraft_delay"]]

In [436]:
t_not = tmep[tmep.cancelled == 0]

In [438]:
t_not.sort_values(by="dep_delay")

,dep_delay,arr_delay,cancelled,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
66555,-23.0,28.0,0.0,0.0,0.0,28.0,0.0,0.0
368884,-23.0,31.0,0.0,0.0,0.0,31.0,0.0,0.0
175743,-22.0,29.0,0.0,0.0,0.0,29.0,0.0,0.0
267320,-21.0,26.0,0.0,0.0,0.0,26.0,0.0,0.0
65668,-20.0,75.0,0.0,0.0,0.0,75.0,0.0,0.0
...,...,...,...,...,...,...,...,...
594650,1489.0,1473.0,0.0,1125.0,0.0,0.0,0.0,348.0
569004,1507.0,1501.0,0.0,1501.0,0.0,0.0,0.0,0.0
111638,1594.0,1624.0,0.0,1594.0,0.0,30.0,0.0,0.0
290362,1600.0,1596.0,0.0,1596.0,0.0,0.0,0.0,0.0
56965,1769.0,1756.0,0.0,1756.0,0.0,0.0,0.0,0.0

In [350]:
tt.cancelled.unique()

array([0.])

In [444]:
def delete_no_name (df):
    df = df.drop("no_name", axis=1)
    return df

In [446]:
df_AA = delete_no_name(df_AA)
df_AA.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime
0,2018-11-26,AA,AA_CODESHARE,AA,4814,PT,N695AE,4814,11986,GRR,...,1.0,573.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
1,2018-11-26,AA,AA_CODESHARE,AA,4814,PT,N695AE,4814,14100,PHL,...,1.0,573.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
2,2018-11-26,AA,AA_CODESHARE,AA,4815,PT,N659AE,4815,10529,BDL,...,1.0,196.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
3,2018-11-26,AA,AA_CODESHARE,AA,4815,PT,N659AE,4815,14100,PHL,...,1.0,196.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
4,2018-11-26,AA,AA_CODESHARE,AA,4816,PT,N640AE,4816,11066,CMH,...,1.0,406.0,10.0,0.0,0.0,0.0,24.0,None,NaN,NaN

In [447]:
df_AS = delete_no_name(df_AS)
df_B6 = delete_no_name(df_B6)
df_DL = delete_no_name(df_dl)
df_F9 = delete_no_name(df_F9)
df_G4 = delete_no_name(df_G4)
df_HA = delete_no_name(df_HA)
df_NK = delete_no_name(df_NK)
df_UA = delete_no_name(df_UA)
df_WN = delete_no_name(df_WN)

In [448]:
df_DL.to_csv("carrier_dl.csv", index = False)
df_AA.to_csv("carrier_AA.csv", index = False)
df_AS.to_csv("carrier_AS.csv", index = False)
df_B6.to_csv("carrier_B6.csv", index = False)
df_F9.to_csv("carrier_F9.csv", index = False)
df_G4.to_csv("carrier_G4.csv", index = False)
df_HA.to_csv("carrier_HA.csv", index = False)
df_NK.to_csv("carrier_NK.csv", index = False)
df_UA.to_csv("carrier_UA.csv", index = False)
df_WN.to_csv("carrier_WN.csv", index = False)

In [455]:
df_VX = delete_no_name(df_VX)
df_VX.to_csv("carrier_VX.csv", index = False)

In [478]:
df_test_WN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109770 entries, 0 to 109769
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fl_date             109770 non-null  datetime64[ns]
 1   mkt_unique_carrier  109770 non-null  object
 2   branded_code_share  109770 non-null  object
 3   mkt_carrier         109770 non-null  object
 4   mkt_carrier_fl_num  109770 non-null  int64
 5   op_unique_carrier   109770 non-null  object
 6   tail_num            109674 non-null  object
 7   op_carrier_fl_num   109770 non-null  int64
 8   origin_airport_id   109770 non-null  int64
 9   origin              109770 non-null  object
 10  origin_city_name    109770 non-null  object
 11  dest_airport_id     109770 non-null  int64
 12  dest                109770 non-null  object
 13  dest_city_name      109770 non-null  object
 14  crs_dep_time        109770 non-null  int64
 15  crs_arr_time        109770 non-null  int64
 16  dup                 109770 non-null  object
 17  crs_elapsed_time    109770 non-null  int64
 18  flights             109770 non-null  int64
 19  distance            109770 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(10)
memory usage: 16.7+ MB

In [484]:
df_WN[df_WN.arr_delay > 14]

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime
2,2019-06-14,WN,WN,WN,1020,WN,N707SA,1020,14893,SMF,...,1.0,909.0,4.0,0.0,8.0,0.0,3.0,None,NaN,NaN
5,2019-06-14,WN,WN,WN,600,WN,N550WN,600,14893,SMF,...,1.0,397.0,8.0,0.0,0.0,0.0,21.0,None,NaN,NaN
8,2019-06-14,WN,WN,WN,2484,WN,N912WN,2484,14893,SMF,...,1.0,397.0,0.0,0.0,11.0,0.0,7.0,None,NaN,NaN
9,2019-06-14,WN,WN,WN,2538,WN,N247WN,2538,14893,SMF,...,1.0,397.0,8.0,0.0,0.0,0.0,9.0,None,NaN,NaN
17,2019-06-14,WN,WN,WN,1292,WN,N404WN,1292,14893,SMF,...,1.0,373.0,4.0,0.0,2.0,0.0,34.0,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2713926,2019-06-13,WN,WN,WN,984,WN,N7717D,984,13796,OAK,...,1.0,957.0,10.0,0.0,14.0,0.0,0.0,None,NaN,NaN
2713929,2019-06-13,WN,WN,WN,1853,WN,N440LV,1853,13796,OAK,...,1.0,723.0,24.0,0.0,12.0,0.0,0.0,None,NaN,NaN
2713938,2019-06-13,WN,WN,WN,713,WN,N8510E,713,13796,OAK,...,1.0,407.0,15.0,0.0,0.0,0.0,1.0,None,NaN,NaN
2713941,2019-06-13,WN,WN,WN,2044,WN,N449WN,2044,13796,OAK,...,1.0,407.0,6.0,0.0,0.0,0.0,115.0,None,NaN,NaN
2713952,2019-06-13,WN,WN,WN,2345,WN,N775SW,2345,13796,OAK,...,1.0,337.0,16.0,0.0,0.0,0.0,0.0,None,NaN,NaN