In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
passengers = pd.read_csv('passengers.csv', index_col = 0)

C:\Users\derob\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [56]:
# get shape and length
print(passengers.shape)
db_length = passengers.shape[0]

(2350494, 38)

In [4]:
passengers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2350494 entries, 0 to 2350496
Data columns (total 38 columns):
 #   Column                 Dtype
---  ------                 -----
 0   departures_scheduled   float64
 1   departures_performed   float64
 2   payload                float64
 3   seats                  float64
 4   passengers             float64
 5   freight                float64
 6   mail                   float64
 7   distance               float64
 8   ramp_to_ramp           float64
 9   air_time               float64
 10  unique_carrier         object
 11  airline_id             int64
 12  unique_carrier_name    object
 13  region                 object
 14  carrier                object
 15  carrier_name           object
 16  carrier_group          int64
 17  carrier_group_new      int64
 18  origin_airport_id      int64
 19  origin_city_market_id  int64
 20  origin                 object
 21  origin_city_name       object
 22  origin_country         object
 23  origin_country_name    object
 24  dest_airport_id        int64
 25  dest_city_market_id    int64
 26  dest                   object
 27  dest_city_name         object
 28  dest_country           object
 29  dest_country_name      object
 30  aircraft_group         int64
 31  aircraft_type          int64
 32  aircraft_config        int64
 33  year                   int64
 34  month                  int64
 35  day                    int64
 36  distance_group         object
 37  class                  object
dtypes: float64(10), int64(13), object(15)
memory usage: 699.4+ MB

In [5]:
# explore all columns
passengers.iloc[:5,:10]

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time
0,1.0,1.0,13500.0,50.0,1.0,0.0,0.0,509.0,131.0,75.0
1,1.0,1.0,13500.0,50.0,0.0,0.0,0.0,287.0,108.0,84.0
2,1.0,1.0,13500.0,50.0,17.0,0.0,0.0,165.0,88.0,73.0
3,1.0,1.0,13500.0,50.0,35.0,0.0,0.0,508.0,100.0,80.0
4,1.0,1.0,13000.0,69.0,65.0,0.0,0.0,463.0,82.0,67.0

In [6]:
passengers.iloc[:5,10:20]

,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id
0,OO,20304,SkyWest Airlines Inc.,D,OO,SkyWest Airlines Inc.,3,3,11977,31977
1,OO,20304,SkyWest Airlines Inc.,D,OO,SkyWest Airlines Inc.,3,3,11977,31977
2,OO,20304,SkyWest Airlines Inc.,D,OO,SkyWest Airlines Inc.,3,3,11977,31977
3,OO,20304,SkyWest Airlines Inc.,D,OO,SkyWest Airlines Inc.,3,3,11996,31871
4,OO,20304,SkyWest Airlines Inc.,D,OO,SkyWest Airlines Inc.,3,3,12003,31895

In [7]:
passengers.iloc[:5,20:30]

,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name
0,GRB,"Green Bay, WI",US,United States,10141,30141,ABR,"Aberdeen, SD",US,United States
1,GRB,"Green Bay, WI",US,United States,11433,31295,DTW,"Detroit, MI",US,United States
2,GRB,"Green Bay, WI",US,United States,14512,34512,RFD,"Rockford, IL",US,United States
3,GSP,"Greer, SC",US,United States,11433,31295,DTW,"Detroit, MI",US,United States
4,GTF,"Great Falls, MT",US,United States,14869,34614,SLC,"Salt Lake City, UT",US,United States

In [8]:
passengers.iloc[:5,30:]

,aircraft_group,aircraft_type,aircraft_config,year,month,day,distance_group,class
0,6,629,1,2016,3,2,F,DU
1,6,629,1,2016,3,1,F,DU
2,6,629,1,2016,3,1,F,DU
3,6,629,1,2016,3,2,F,DU
4,6,631,1,2016,3,1,F,DU

# Redundant features

In [9]:
# unique carrier and carrier
passengers.carrier[passengers.carrier == passengers.unique_carrier].count()/db_length*100

99.41595256146155

In [10]:
# unique_carrier_name and carrier_name
passengers.carrier_name[passengers.unique_carrier_name == passengers.carrier_name].count()/db_length*100

94.8205781422969

In [11]:
# carrier_group and carrier_group_new
passengers.carrier_group[passengers.carrier_group == passengers.carrier_group_new].count()/db_length*100

84.16868964566598

# Highly correlated features

In [12]:
# origin and origin_city_name

# create placeholder database for two features
df_correlation_check = pd.DataFrame(columns = [1,2])

# first feature
df_correlation_check[1] = passengers.origin.astype('category').cat.codes

# second feature
df_correlation_check[2] = passengers.origin_city_name.astype('category').cat.codes

# check correlation
df_correlation_check.corr()

          1         2
1  1.000000  0.702593
2  0.702593  1.000000

In [13]:
# origin_country and origin_country_name

# create placeholder database for two features
df_correlation_check = pd.DataFrame(columns = [1,2])

# first feature
df_correlation_check[1] = passengers.origin_country.astype('category').cat.codes

# second feature
df_correlation_check[2] = passengers.origin_country_name.astype('category').cat.codes

# check correlation
df_correlation_check.corr()

          1         2
1  1.000000  0.912199
2  0.912199  1.000000

In [14]:
# dest and dest_city_name

# create placeholder database for two features
df_correlation_check = pd.DataFrame(columns = [1,2])

# first feature
df_correlation_check[1] = passengers.dest.astype('category').cat.codes

# second feature
df_correlation_check[2] = passengers.dest_city_name.astype('category').cat.codes

# check correlation
df_correlation_check.corr()

          1         2
1  1.000000  0.702038
2  0.702038  1.000000

In [15]:
# dest_country and dest_country_name

# create placeholder database for two features
df_correlation_check = pd.DataFrame(columns = [1,2])

# first feature
df_correlation_check[1] = passengers.dest_country.astype('category').cat.codes

# second feature
df_correlation_check[2] = passengers.dest_country_name.astype('category').cat.codes

# check correlation
df_correlation_check.corr()

          1         2
1  1.000000  0.911166
2  0.911166  1.000000

In [64]:
# unique_carrier and unique_carrier_name

# create placeholder database for two features
df_correlation_check = pd.DataFrame(columns = [1,2])

# first feature
df_correlation_check[1] = passengers.unique_carrier.astype('category').cat.codes

# second feature
df_correlation_check[2] = passengers.unique_carrier_name.astype('category').cat.codes

# check correlation
df_correlation_check.corr()

          1         2
1  1.000000  0.509723
2  0.509723  1.000000

# Numerical data

In [16]:
numeric_features = passengers.select_dtypes(include=[np.number])
numeric_features.columns

Index(['departures_scheduled', 'departures_performed', 'payload', 'seats',
       'passengers', 'freight', 'mail', 'distance', 'ramp_to_ramp', 'air_time',
       'airline_id', 'carrier_group', 'carrier_group_new', 'origin_airport_id',
       'origin_city_market_id', 'dest_airport_id', 'dest_city_market_id',
       'aircraft_group', 'aircraft_type', 'aircraft_config', 'year', 'month',
       'day'],
      dtype='object')

In [17]:
# see if variables are categorical / continuous: look at number of unique values for each feature
for column in numeric_features.columns:
    print(column, len(passengers[column].unique()))

departures_scheduled 872
departures_performed 793
payload 418417
seats 29584
passengers 32365
freight 295975
mail 69219
distance 5818
ramp_to_ramp 37857
air_time 34428
airline_id 377
carrier_group 4
carrier_group_new 8
origin_airport_id 2512
origin_city_market_id 2214
dest_airport_id 2564
dest_city_market_id 2260
aircraft_group 9
aircraft_type 199
aircraft_config 4
year 5
month 12
day 21

In [21]:
# print categories for categorical data
print('carrier_group', passengers.carrier_group.unique())
print('carrier_group_new', passengers.carrier_group.unique())
print('aircraft_config', passengers.carrier_group.unique())

carrier_group [3 1 2 0]
carrier_group_new [3 1 2 0]
aircraft_config [3 1 2 0]

# String data

In [37]:
string_data = passengers.dtypes[passengers.dtypes == 'object'].index
string_data

Index(['unique_carrier', 'unique_carrier_name', 'region', 'carrier',
       'carrier_name', 'origin', 'origin_city_name', 'origin_country',
       'origin_country_name', 'dest', 'dest_city_name', 'dest_country',
       'dest_country_name', 'distance_group', 'class'],
      dtype='object')

In [54]:
print('unique_carrier (length)', len(passengers.unique_carrier.unique()))
print('unique_carrier_name (length)', len(passengers.unique_carrier_name.unique()))
print('region', passengers.region.unique())
print('carrier (length)', len(passengers.carrier.unique()))
print('carrier_name (length)', len(passengers.carrier_name.unique()))
print('origin (length)', len(passengers.origin.unique()))
print('origin_country (length)', len(passengers.origin_country.unique()))
print('class', passengers['class'].unique())

unique_carrier (length) 377
unique_carrier_name (length) 377
region ['D' 'L' 'A' 'P' 'S' 'I']
carrier (length) 388
carrier_name (length) 396
origin (length) 2514
origin_country (length) 154
class ['DU' 'IU' 'IF' 'DF']

# Drop redundant features

In [62]:
# redundant: keeping unique_carrier, unique_carrier_name, carrier_group_new

passengers = passengers.drop(['carrier', 'carrier_name', 'carrier_group'], axis = 1)